*{
    margin:0;
    padding:0;
    list-style: none;
    font-size: 16px;
    font-family: PingFangSC,San Francisco Display,"苹方";
}
a{
    text-decoration: none;
}
img{
    border: none;
}
button:focus{
    outline: none;
}
input:focus{
    outline: none;
}
textarea{
    outline: none;
    border: none;
}
i{
    font-style: normal;
}
.bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: red;*/
}