*{
    margin:0;
    padding:0;
    list-style: none;
    font-size: 16px;
    font-family: PingFangSC,San Francisco Display,"苹方";
}
a{
    text-decoration: none;
}
img{
    border: none;
}
button:focus{
    outline: none;
}
input:focus{
    outline: none;
}