@import url(base.css);
    .bg{
        width: 7.5rem;
        height:13.34rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    header{
        width: 100%;
        height: 0.88rem;
        font-size: 0.36rem;
        font-weight: bold;
        color: #4ebbfe;
        line-height: 0.88rem;
    }
    header a{
        width: 0.7rem;
        height: 0.88rem;
        float: left;
    }

    header .icon-taobaozhongchou4qizuoyoujiantou1{
        margin-left: 0.15rem;
        line-height: 0.88rem;
        color: #36a8fe;
        font-size: 0.36rem;
        font-weight: bold;
    }
    header span{
        float: right;
        margin-right: 3.31rem;
        font-size: 0.36rem;
        font-weight: bold;
        color: #4ebbfe;
        line-height: 0.88rem;
}
/*内容*/
    .bt{
        
        width:100%;
        height:0.88rem;
        background:#3cacfe;
        line-height:0.88rem;
    }
    .bt .daijiedan{
        font-size: 0.31rem;
        color:#f1f9fb;
        margin-left: 0.26rem;
    }
    .bt .dingdangenzong{
        font-size: 0.29rem;
        color:#f1f9fb;
        margin-left: 4.3rem;
    }
    .nr{
        width: 100%;
        height: 12.5rem;
        background: #f1fcfc;
    }
    .nr .ul1{
        width:100%;
        height: 2.6rem;
        background: #f1fcfc;
        display: flex;
    }
    .nr ul .tupian{
        width: 2rem;
        height: 2.6rem;
        background: url("../img/tube.png")no-repeat center;
        background-size: 1.28rem;
    }
    .nr ul .qianshui{
        margin-top: 0.5rem;
        /*margin-left: */
        font-size: 0.32rem;
        color:#555555;
    }
    .nr ul .guige span{
        font-size: 0.18rem;
        color:#5a9cce;
    }
    .nr ul .guige1 span{

        font-size: 0.2rem;
        color: #d1d1d1;
    }
    .nr ul .shifukuang{
        margin-top: 0.42rem;

    }
    .nr ul .shifukuang span{
        font-size: 0.26rem;
        color: #eeb659;
    }
    .nr ul .daijiedan1{
        margin-top:0.5rem;
        margin-left: 1rem;
    }
    .nr ul .daijiedan1 span{
        font-size: 0.28rem;
        color: #55d252;
    }

/*服务*/
    
    .nr .fw{
        display: block;
        width: 94%;
        height: 4rem;
        background: #ffffff;
        margin-left: 3%;
        overflow: hidden;
    }
    .nr .fw .li1{
        width: 100%;
        height: 0.9rem;
        border-bottom:0.01rem solid #f1f1f1;
        font-size: 0.22rem;
        color:#b7b7b7;
        line-height:  1rem;
    }
    .nr .fw .li2{
        width: 100%;
        height: 1.2rem;
        border-bottom:0.01rem solid #f1f1f1;
        font-size: 0.22rem;
        color:#b7b7b7;
        line-height:  0.6rem;
        
    }

/*投诉    */
    .nr .ts{
        display: block;
        width: 94%;
        height: 1.9rem;
        background: #ffffff;
        margin-left: 3%;
        overflow: hidden;
        margin-top: 0.2rem;
    }
    .nr .ts ul li{
        width: 100%;
        height: 0.9rem;
        border-bottom:0.01rem solid #f1f1f1;
        font-size: 0.22rem;
        color:#b7b7b7;
        line-height:  1rem;
    }
/*下单    */
    .nr .xd{
        display: block;
        width: 94%;
        height: 1.9rem;
        background: #ffffff;
        margin-left: 3%;
        overflow: hidden;
        margin-top: 0.2rem;
    }
    .nr .xd ul li{
        width: 100%;
        height: 0.9rem;
        border-bottom:0.01rem solid #f1f1f1;
        font-size: 0.22rem;
        color:#b7b7b7;
        line-height:  1rem;
    }

    .nr .xd ul .right{
        float: right;
        margin-right: 10px;

    }
    .nr .xd ul .right1{
        width: 5px;
        float: right;
    }


/*支付*/
    .nr main{
        display: flex;
        padding-top: 0.2rem;
    }
    .nr main button{
        height: 0.6rem;
        width: 2rem;
        height: 0.56rem;
        border:0px ;
        border-radius: 30% 30%;
    }
    .nr main .quxiaodingdan{
        margin-left: 2.8rem;
        background: #e8f6ff;
        width: 2rem;
        height: 0.56rem;
        font-size: 0.24rem;
        color: #569fd2;
    }
    .nr main .quzhifu{
        width: 2rem;
        margin-left: 0.3rem;
        height: 0.56rem;
        background: #35df74;
        color: #e1ffeb;
    }
