@import url(base.css);
.bg{
    width: 7.5rem;
    height:13.34rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
header{
    width: 100%;
    height: 0.92rem;
    font-size: 0.36rem;
    font-weight: bold;
    background: #fff;
    color: #4ebbfe;
    padding-top: 0.40rem;
    line-height: 0.92rem;
}
header a{
    width: 0.7rem;
    height: 0.92rem;
    float: left;
}

header .icon-taobaozhongchou4qizuoyoujiantou1{
    margin-left: 0.15rem;
    line-height: 0.92rem;
    color: #36a8fe;
    font-size: 0.36rem;
    font-weight: bold;
}
header span{
    float: right;
    margin-right: 3.31rem;
    font-size: 0.36rem;
    font-weight: bold;
    color: #4ebbfe;
    line-height: 0.88rem;
}
.section{
    width: 100%;
    height: auto;
}
.bg1{
    width: 100%;
    height: 1.71rem;
    background: url("../img/bg.png") top;
    background-size: 100% 1.71rem;
}
main{
    width: 100%;
    padding: 0 0.24rem;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 1.35rem;
}
.word{
    width: 100%;
    height: 1.35rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0.13rem;
    box-sizing: border-box;
    border-bottom: 0.02rem solid #f1f4f5;
}
.left-point{
    width: 0.1rem;
    height: 0.05rem;
    margin-top: 0.64rem ;
    margin-left: 0.11rem;
    margin-right: 0.11rem;
    border-radius: 0.02rem;
    background: #34da87;
    box-shadow: 0.01rem 0 0.02rem 0.01rem #34da87;
}
.word-medium{
    font-size: 0.26rem;
    line-height: 1.35rem;
    text-align: center;
}
.word-medium span{
    font-size: 0.4rem;
    line-height: 0.47rem;
    color: #32d796;
    margin: 0 0.15rem;
}
nav{
    width: 100%;
    height: 8.96rem;
    padding-top: 0.43rem;
    position: relative;
}
nav ul li{
    width: 100%;
    height: 1.5rem;
    padding: 0.22rem 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.navLeft{
    width: 50%;
    height: 100%;
}
.navRight{
    width: 2.17rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.circle1{
    width: 1.06rem;
    height: 1.06rem;
    border-radius: 50%;
    float: left;
    position: relative;
    background-image: -webkit-linear-gradient(top,#ff6c71,#ff8873);
}
.circle1Box{
    width: 0.76rem;
    height: 0.76rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../img/bag.png") center;
    background-size: 0.76rem 0.76rem;
}
.navWord1{
    width: 2.14rem;
    height: 100%;
    float: right;
    font-size: 0.28rem;
    line-height: 1.06rem;
    font-weight: bold;
    color: #47505f;
}
.navWord2{
    width: 1.70rem;
    height: 100%;
    float: left;
    font-size: 0.26rem;
    text-align: center;
    line-height: 1.06rem;
    font-weight: bold;
    color: #47505f;
}
.navWord2 span{
    font-size: 0.38rem;
    line-height: 1.06rem;
    color: #ff7370;
    margin: 0 0.07rem;
}
.circle2{
    width: 0.25rem;
    height: 0.25rem;
    margin-top: 0.41rem;
    background: #ddd;
    border-radius: 50%;
}
.circle4{
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 50%;
    background: #fff;
    border: 0.09rem solid #36a8fe;
}
.circle3{
    background-image: -webkit-linear-gradient(top,#37e06f,#32d699);
}
.circle5{
    background-image: -webkit-linear-gradient(top,#31a3fe,#68d0fe);
}
.weChat{
    background: url("../img/wechat.png") center;
    background-size: 0.76rem 0.76rem;
}
.Alipay{
    background: url("../img/Alipay.png") center;
    background-size: 0.76rem 0.76rem;
}
button{
    width: 4.54rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    font-size: 0.2rem;
    color: #fff;
    text-align: center;
    line-height: 0.6rem;
    background-image: -webkit-linear-gradient(left,#37e06f,#32d69a);
    box-shadow: 0 0.02rem 0.2rem 0.02rem #37df74;
    position: absolute;
    left: 0;
    right: 0;
    outline: none;
    border: none;
    margin-left: auto;
    margin-right: auto;
    bottom: 2.92rem;
}
footer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,0.8);
}
.tanchukuang{
    width: 5.53rem;
    height: 2.81rem;
    border-radius: 0.25rem;
    position: absolute;
    top: 4.16rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    z-index: 11;
}
.exit{
    width: 0.24rem;
    height: 0.24rem;
    position: absolute;
    right: 0.18rem;
    top: 0.18rem;
    font-size: 0.28rem;
    color: #d1dde6;
}
.big{
    font-size: 0.3rem;
    font-weight: bold;
}
.word1{
    width: 4.83rem;
    margin: 0 auto;
    margin-top: 0.06rem;
}
.tanchukuang ul{
    width: 4.61rem;
    height: 0.46rem;
    margin-left: 0.47rem;
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-around;
}
.tanchukuang ul li{
    width: 0.46rem;
    height: 0.46rem;
    border-radius: 50%;
    background: #e3eef6;
    position: relative;
}
.point{
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0.05rem solid #e3eef6;
}